@tailwind base;
@tailwind components;
@tailwind utilities;


/* Global component styles */

html {
  position: relative;
  min-height: 100%;
}

body {
  height: 100%;
}

a {
  &:focus {
    outline: none;
  }
}

/* Main page wrapper */
#wrapper {
  display: flex;
}
#content-wrapper {
  width: 100%;
  overflow-x: hidden;
  #content {
    flex: 1 0 auto;
  }
}
